/* Photo grid with a responsive grid layout */
.photo-grid {  
  /* Set grid layout with a gap between items */
  display: grid;  
  gap: 1em;  

  /* Define columns to fit container's width, minimum column width 240px */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  /* Set a fixed row height of 240px */
  grid-auto-rows: 240px;  

}

/* Medium screens */
@media screen and (min-width: 600px) {
  
  /* Make .card-tall items span two rows */
  .card-tall {
    grid-row: span 2 / auto;
  }

  /* Make .card-wide items span two columns */
  .card-wide {
    grid-column: span 2 / auto;
  }
}