body {
  display: grid;
  height: 100vh;
  background-color: hsl(240, 26%, 11%);
  color: hsl(240, 100%, 94%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.page {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  gap: 1rem;
  margin: 1em;
  height: 100vh;
  justify-content: center;
}

.page > div {
  background-color: hsl(240, 26%, 16%);
  padding: 1rem;
  border-radius: 9px;
  border: 3px solid hsl(240, 26%, 60%); /* Add a 1px solid border with a gray color */
  transition: border-color 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 2;
  height: 16rem;
  opacity: 0.8; 
  max-width: 20rem;
  margin: 0 auto;
}

.page > div:hover {
  border-color: hsl(220, 100%, 80%); /* Change the border color on hover */
  transform: scale(1.007); /* Increase the size by 10% */
}

.heading {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: hsl(240, 66%, 80%);
}

a:hover {
  color: hsl(240, 86%, 70%);
}

.blob {
  background: linear-gradient(to right, aquamarine, mediumpurple);
  height: 20rem;
  width: 26rem;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 1;
  animation: rotate 10s linear infinite;
  filter: blur(50px);
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(50px);
}
